<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">
            <!-- A project by <a target="_blank" href="https://github.com/TomHumphries">Tom Humphries</a>. -->
            Favicon created with <a target="_blank" href="https://favicon.io/">favicon.io</a> 
            using <a target="_blank" href="https://twemoji.twitter.com/">Twemoji</a> emojis.
        </span>
    </div>
</footer>